Repository FISCO-BCOS/FISCO-BCOS, pull requests merged in 2022-01, with the labels that each got.

#2123 ignore check txpool limit when receive txs from p2p
  bcos-pbft/bcos-pbft/pbft/engine/PBFTEngine.cpp
  bcos-txpool/bcos-txpool/sync/TransactionSync.cpp
  bcos-txpool/bcos-txpool/txpool/interfaces/TxPoolStorageInterface.h
  bcos-txpool/bcos-txpool/txpool/storage/MemoryStorage.cpp
  bcos-txpool/bcos-txpool/txpool/storage/MemoryStorage.h
  cmake/config.cmake
  tools/BcosProBuilder/conf/config-deploy-example.toml
  tools/BcosProBuilder/conf/config-node-expand-example.toml
  tools/BcosProBuilder/conf/config-service-expand-example.toml
  tools/BcosProBuilder/docker/host/linux/framework/docker-compose.yml
  tools/BcosProBuilder/docker/host/linux/node/docker-compose.yml
  tools/BcosProBuilder/src/tpl/config.ini.gateway
  tools/BcosProBuilder/src/tpl/config.ini.node
  tools/BcosProBuilder/src/tpl/config.ini.rpc
Labels: bug fix, release-3.0.0-rc2 fixed, txs-seal

#2126 fix removeTopicsByClients in case of seq increase even if remove empty clients
  bcos-gateway/bcos-gateway/libamop/TopicManager.cpp
  cmake/config.cmake
Labels: bug fix, gateway, amop, exit-coredump

#2127 sync code from release-3.0.0-rc2
  bcos-gateway/bcos-gateway/libamop/TopicManager.cpp
  bcos-pbft/bcos-pbft/pbft/engine/PBFTEngine.cpp
  bcos-rpc/bcos-rpc/RpcFactory.cpp
  bcos-rpc/bcos-rpc/event/EventSub.cpp
  bcos-rpc/bcos-rpc/event/EventSubTask.h
  bcos-rpc/bcos-rpc/jsonrpc/JsonRpcImpl_2_0.cpp
  bcos-rpc/bcos-rpc/jsonrpc/JsonRpcImpl_2_0.h
  bcos-rpc/bcos-rpc/jsonrpc/JsonRpcInterface.h
  bcos-txpool/bcos-txpool/sync/TransactionSync.cpp
  bcos-txpool/bcos-txpool/txpool/interfaces/TxPoolStorageInterface.h
  bcos-txpool/bcos-txpool/txpool/storage/MemoryStorage.cpp
  bcos-txpool/bcos-txpool/txpool/storage/MemoryStorage.h
  cmake/config.cmake
  tools/BcosProBuilder/conf/config-deploy-example.toml
  tools/BcosProBuilder/conf/config-node-expand-example.toml
  tools/BcosProBuilder/conf/config-service-expand-example.toml
  tools/BcosProBuilder/docker/host/linux/framework/docker-compose.yml
  tools/BcosProBuilder/docker/host/linux/node/docker-compose.yml
  tools/BcosProBuilder/src/tpl/config.ini.gateway
  tools/BcosProBuilder/src/tpl/config.ini.node
  tools/BcosProBuilder/src/tpl/config.ini.rpc
Labels: sync-code

#2125 fix not report nodeType to gateway in pro-mode
  bcos-framework/interfaces/multigroup/ChainNodeInfo.h
  bcos-gateway/bcos-gateway/gateway/GatewayNodeManager.cpp
  bcos-gateway/bcos-gateway/gateway/GatewayNodeManager.h
  bcos-gateway/bcos-gateway/gateway/PeersRouterTable.cpp
  bcos-gateway/bcos-gateway/gateway/PeersRouterTable.h
  bcos-gateway/test/unittests/GatewayNodeManagerTest.cpp
  bcos-sync/bcos-sync/BlockSyncConfig.cpp
  bcos-tars-protocol/Common.h
  bcos-tars-protocol/tars/GatewayInfo.tars
  bcos-tars-protocol/tars/GroupInfo.tars
  cmake/Version.cmake
  fisco-bcos-pro/GatewayService/GatewayServiceServer.h
  libinitializer/PBFTInitializer.cpp
  libinitializer/ProPBFTInitializer.cpp
  tools/BcosProBuilder/src/config/service_config_generator.py
Labels: bug fix, fisco-bcos-pro, msg-broadcast-optimize

#2134 fix amop subscribe multiple topics in-once failed
  bcos-gateway/bcos-gateway/libamop/TopicManager.cpp
  bcos-rpc/bcos-rpc/amop/AMOPClient.cpp
  bcos-rpc/bcos-rpc/amop/AMOPClient.h
Labels: bug fix, amop

#2137 sync code from release-3.0.0-rc2
  bcos-gateway/bcos-gateway/libamop/TopicManager.cpp
  bcos-rpc/bcos-rpc/amop/AMOPClient.cpp
  bcos-rpc/bcos-rpc/amop/AMOPClient.h
  bcos-rpc/bcos-rpc/jsonrpc/JsonRpcImpl_2_0.cpp
  bcos-rpc/bcos-rpc/jsonrpc/JsonRpcImpl_2_0.h
Labels: sync-code

#2139 use fastSM2Crypto
  bcos-executor/src/precompiled/CryptoPrecompiled.cpp
  bcos-executor/test/unittest/libprecompiled/CryptoPrecompiledTest.cpp
  bcos-executor/test/unittest/libprecompiled/PreCompiledFixture.h
  bcos-rpc/bcos-rpc/jsonrpc/groupmgr/Common.h
  cmake/config.cmake
  libinitializer/ProtocolInitializer.cpp
Labels: feature, crypto-perf-optimize

#2140 Use a separate db to store the consensus log
  cmake/config.cmake
  libinitializer/Initializer.cpp
  libinitializer/Initializer.h
Labels: optimize, consensus, initializer

#2141 use tcmalloc
  .circleci/config.yml
  .github/workflows/workflow.yml
  cmake/config.cmake
  fisco-bcos-air/CMakeLists.txt
  fisco-bcos-pro/GatewayService/main/CMakeLists.txt
  fisco-bcos-pro/NodeService/main/CMakeLists.txt
  fisco-bcos-pro/RpcService/main/CMakeLists.txt
Labels: ci, tcmalloc

#2144 rename topic to topics
  bcos-rpc/bcos-rpc/jsonrpc/JsonRpcImpl_2_0.cpp
Labels: rpc

#2145 <feat>(bfs): add readlink feature.
  bcos-executor/src/precompiled/FileSystemPrecompiled.cpp
  bcos-executor/src/precompiled/FileSystemPrecompiled.h
  bcos-executor/src/precompiled/Utilities.cpp
  bcos-executor/src/precompiled/Utilities.h
  bcos-executor/src/precompiled/solidity/BfsPrecompiled.sol
  bcos-executor/test/unittest/libprecompiled/FileSystemPrecompiledTest.cpp
Labels: feature, precompiled, executor, bfs, link

#2146 add txpool demo && avoid the same tx been verified more than once
  bcos-executor/src/executor/TransactionExecutor.cpp
  bcos-framework/interfaces/protocol/TransactionSubmitResult.h
  bcos-framework/testutils/faker/FakeLedger.h
  bcos-pbft/bcos-pbft/core/StateMachine.cpp
  bcos-pbft/bcos-pbft/pbft/storage/LedgerStorage.cpp
  bcos-pbft/bcos-pbft/pbft/storage/LedgerStorage.h
  bcos-protocol/bcos-protocol/TransactionSubmitResultImpl.h
  bcos-rpc/bcos-rpc/RpcFactory.cpp
  bcos-rpc/bcos-rpc/jsonrpc/JsonRpcImpl_2_0.cpp
  bcos-storage/CMakeLists.txt
  bcos-storage/test/unittest/TestRocksDBStorage.cpp
  bcos-storage/test/unittest/TestTiKVStorage.cpp
  bcos-tars-protocol/protocol/TransactionSubmitResultImpl.h
  bcos-tars-protocol/tars/TransactionSubmitResult.tars
  bcos-txpool/bcos-txpool/sync/TransactionSync.cpp
  bcos-txpool/bcos-txpool/sync/TransactionSync.h
  bcos-txpool/bcos-txpool/txpool/storage/MemoryStorage.cpp
  bcos-txpool/bcos-txpool/txpool/storage/MemoryStorage.h
  bcos-txpool/test/CMakeLists.txt
  bcos-txpool/test/demo/txpool_demo.cpp
  bcos-txpool/test/unittests/txpool/TxPoolFixture.h
Labels: v3.x, perf, tx, demo
