Repository FISCO-BCOS/FISCO-BCOS, pull requests merged in 2022-02, with the labels that each got.

#2147 ensure blockHeader setter/getter thread-safe
  bcos-tars-protocol/protocol/BlockImpl.cpp
  bcos-tars-protocol/protocol/BlockImpl.h
  bcos-txpool/bcos-txpool/TxPool.cpp
  bcos-txpool/bcos-txpool/TxPool.h
  bcos-txpool/bcos-txpool/txpool/storage/MemoryStorage.cpp
  bcos-txpool/bcos-txpool/txpool/validator/TxPoolNonceChecker.cpp
  bcos-txpool/bcos-txpool/txpool/validator/TxPoolNonceChecker.h
  tools/BcosProBuilder/src/scripts/generate_cert.sh
Labels: bug fix, build-chain, protocol, thread-unsafe

#2150 Avoid circular references when schedulerImpl::call uses blockExecutive
  bcos-scheduler/src/BlockExecutive.cpp
  bcos-scheduler/src/BlockExecutive.h
  bcos-scheduler/src/SchedulerImpl.cpp
  libinitializer/ParallelExecutor.h
Labels: memory leak fix

#2152 sync code from release-3.0.0-rc2
  .circleci/config.yml
  .github/workflows/workflow.yml
  bcos-executor/src/executor/TransactionExecutor.cpp
  bcos-framework/interfaces/protocol/TransactionSubmitResult.h
  bcos-framework/testutils/faker/FakeLedger.h
  bcos-front/bcos-front/FrontService.cpp
  bcos-front/bcos-front/FrontService.h
  bcos-pbft/bcos-pbft/core/StateMachine.cpp
  bcos-pbft/bcos-pbft/pbft/storage/LedgerStorage.cpp
  bcos-pbft/bcos-pbft/pbft/storage/LedgerStorage.h
  bcos-protocol/bcos-protocol/TransactionSubmitResultImpl.h
  bcos-rpc/bcos-rpc/RpcFactory.cpp
  bcos-rpc/bcos-rpc/jsonrpc/JsonRpcImpl_2_0.cpp
  bcos-scheduler/src/BlockExecutive.cpp
  bcos-scheduler/src/BlockExecutive.h
  bcos-scheduler/src/SchedulerImpl.cpp
  bcos-storage/CMakeLists.txt
  bcos-storage/test/unittest/TestRocksDBStorage.cpp
  bcos-storage/test/unittest/TestTiKVStorage.cpp
  bcos-tars-protocol/protocol/BlockImpl.cpp
  bcos-tars-protocol/protocol/BlockImpl.h
  bcos-tars-protocol/protocol/TransactionSubmitResultImpl.h
  bcos-tars-protocol/tars/TransactionSubmitResult.tars
  bcos-txpool/bcos-txpool/TxPool.cpp
  bcos-txpool/bcos-txpool/TxPool.h
  bcos-txpool/bcos-txpool/sync/TransactionSync.cpp
  bcos-txpool/bcos-txpool/sync/TransactionSync.h
  bcos-txpool/bcos-txpool/txpool/storage/MemoryStorage.cpp
  bcos-txpool/bcos-txpool/txpool/storage/MemoryStorage.h
  bcos-txpool/bcos-txpool/txpool/validator/TxPoolNonceChecker.h
  bcos-txpool/test/CMakeLists.txt
  bcos-txpool/test/demo/txpool_demo.cpp
  bcos-txpool/test/unittests/txpool/TxPoolFixture.h
  cmake/config.cmake
  fisco-bcos-air/CMakeLists.txt
  fisco-bcos-pro/GatewayService/main/CMakeLists.txt
  fisco-bcos-pro/NodeService/main/CMakeLists.txt
  fisco-bcos-pro/RpcService/main/CMakeLists.txt
  libinitializer/ParallelExecutor.h
  tools/BcosProBuilder/src/scripts/generate_cert.sh
Labels: sync-code

#2155 fix generate_cert and build_chain
  bcos-executor/src/dag/Abi.cpp
  bcos-executor/src/executor/TransactionExecutor.cpp
  tools/BcosAirBuilder/build_chain.sh
  tools/BcosProBuilder/src/scripts/generate_cert.sh
Labels: bug fix, build-chain, scripts

#2157 modify scale codec of FixedBytes
  bcos-codec/scale/ScaleDecoderStream.h
  bcos-codec/scale/ScaleEncoderStream.h
  bcos-codec/test/unittests/ScaleCodecTest.cpp
Labels: codec, scale

#2158 fix coredump caused by access empty _transactionSubmitResult when asyncSubmit error
  bcos-executor/src/executive/SyncStorageWrapper.h
  bcos-executor/src/precompiled/extension/DagTransferPrecompiled.cpp
  bcos-rpc/bcos-rpc/jsonrpc/JsonRpcImpl_2_0.cpp
Labels: fisco-bcos-pro, precompiled, rpc, coredump, inconsistent

#2160 fix bug for pbft and scheduler
  bcos-executor/src/precompiled/CNSPrecompiled.cpp
  bcos-pbft/bcos-pbft/pbft/cache/PBFTCache.cpp
  bcos-scheduler/src/BlockExecutive.cpp
  bcos-scheduler/src/SchedulerImpl.cpp
  bcos-table/src/StateStorage.h
Labels: bug fix, scheduler, consensus

#2164 <fix>(precompiled): rm unnecessary create table in precompiled.
  bcos-executor/src/precompiled/ConsensusPrecompiled.cpp
  bcos-executor/src/precompiled/ParallelConfigPrecompiled.cpp
  bcos-executor/src/precompiled/extension/DagTransferPrecompiled.cpp
  bcos-executor/src/precompiled/extension/DagTransferPrecompiled.h
  bcos-executor/test/unittest/libprecompiled/ConfigPrecompiledTest.cpp
  bcos-executor/test/unittest/libprecompiled/PreCompiledFixture.h
  bcos-framework/interfaces/ledger/LedgerTypeDef.h
  bcos-ledger/src/libledger/Ledger.cpp
Labels: precompiled, v3.x

#2168 fix coredump caused by assert(m_blocks.empty())
  bcos-scheduler/src/SchedulerImpl.cpp
Labels: bug fix, scheduler, coredump

#2166 Fix wrong tx hash on SEND_BACK case
  .gitignore
  bcos-executor/src/Common.h
  bcos-executor/src/dag/wasm.log
  bcos-executor/src/executor/TransactionExecutor.cpp
  bcos-executor/src/executor/TransactionExecutor.h
  bcos-executor/test/unittest/libexecutor/wasm.log
  bcos-scheduler/src/BlockExecutive.cpp
  tools/BcosAirBuilder/build_chain.sh
Labels: bug fix, scheduler, inconsistent

#2171 <fix>(executive): fix wasm path lowcase bug.
  bcos-executor/src/Common.h
  bcos-executor/src/executive/TransactionExecutive.cpp
  bcos-executor/src/executive/TransactionExecutive.h
  bcos-executor/src/executor/TransactionExecutor.cpp
Labels: bug fix, wasm, liquid

#2172 fix coredump caused by un-threadsafe setBlockHeader and access the signatureList of the released-blockHeader
  bcos-pbft/bcos-pbft/pbft/cache/PBFTCache.cpp
  bcos-pbft/bcos-pbft/pbft/config/PBFTConfig.h
  bcos-pbft/bcos-pbft/pbft/engine/BlockValidator.cpp
  bcos-pbft/bcos-pbft/pbft/engine/PBFTEngine.cpp
  bcos-pbft/bcos-pbft/pbft/engine/Validator.h
  bcos-scheduler/src/SchedulerImpl.cpp
  bcos-sync/bcos-sync/state/DownloadingQueue.cpp
  bcos-tars-protocol/protocol/BlockHeaderImpl.cpp
  bcos-tars-protocol/protocol/BlockHeaderImpl.h
Labels: bug fix, protocol, thread-unsafe

#2174 <fix>(scheduler): fix call empty address cause assert core bug.
  bcos-executor/src/precompiled/extension/ContractAuthPrecompiled.cpp
  bcos-rpc/bcos-rpc/jsonrpc/JsonRpcImpl_2_0.cpp
  bcos-scheduler/src/SchedulerImpl.cpp
  bcos-scheduler/tests/testScheduler.cpp
Labels: bug fix, scheduler, coredump

#2175 fix consensus failed caused by not triggerFastViewChange when add new sealer
  bcos-pbft/bcos-pbft/pbft/cache/PBFTCacheProcessor.h
  bcos-pbft/bcos-pbft/pbft/engine/PBFTEngine.cpp
Labels: bug fix, consensus, add sealer

#2176 update bcos-crypto
  bcos-executor/test/unittest/libprecompiled/CryptoPrecompiledTest.cpp
  bcos-ledger/test/unittests/ledger/LedgerTest.cpp
  bcos-ledger/test/unittests/ledger/common/FakeBlockHeader.h
  bcos-ledger/test/unittests/ledger/common/FakeTransaction.h
  bcos-pbft/bcos-pbft/pbft/interfaces/PBFTMessageFactory.h
  bcos-pbft/bcos-pbft/pbft/protocol/PB/PBFTCodec.cpp
  bcos-pbft/bcos-pbft/pbft/protocol/PB/PBFTMessage.cpp
  bcos-pbft/test/unittests/pbft/PBFTConfigTest.cpp
  bcos-pbft/test/unittests/pbft/PBFTFixture.h
  bcos-pbft/test/unittests/protocol/FakePBFTMessage.h
  bcos-protocol/bcos-protocol/protobuf/PBTransactionFactory.h
  bcos-protocol/bcos-protocol/testutils/protocol/FakeBlockHeader.h
  bcos-protocol/bcos-protocol/testutils/protocol/FakeTransaction.h
  bcos-protocol/test/unittests/libprotocol/PBTransactionTest.cpp
  bcos-scheduler/tests/testScheduler.cpp
  bcos-tars-protocol/protocol/TransactionFactoryImpl.h
  bcos-tars-protocol/test/ProtocolTest.cpp
  bcos-txpool/test/unittests/txpool/TxPoolTest.cpp
  cmake/config.cmake
Labels: refactor, crypto

#2170 modify to get abi from transaction
  bcos-executor/src/CallParameters.h
  bcos-executor/src/executive/TransactionExecutive.cpp
  bcos-executor/src/executor/TransactionExecutor.cpp
  bcos-executor/test/unittest/libexecutor/TestDagExecutor.cpp
  bcos-executor/test/unittest/libexecutor/TestEVMExecutor.cpp
  bcos-executor/test/unittest/libexecutor/TestWasmExecutor.cpp
  bcos-protocol/bcos-protocol/protobuf/PBTransaction.cpp
  bcos-protocol/bcos-protocol/protobuf/PBTransaction.h
  bcos-protocol/bcos-protocol/testutils/protocol/FakeTransaction.h
  bcos-rpc/bcos-rpc/jsonrpc/JsonRpcImpl_2_0.cpp
  bcos-scheduler/CMakeLists.txt
  bcos-scheduler/test/CMakeLists.txt
  bcos-scheduler/test/main.cpp
  bcos-scheduler/test/mock/MockDeadLockExecutor.h
  bcos-scheduler/test/mock/MockExecutor.h
  bcos-scheduler/test/mock/MockExecutor3.h
  bcos-scheduler/test/mock/MockExecutorForCall.h
  bcos-scheduler/test/mock/MockExecutorForCreate.h
  bcos-scheduler/test/mock/MockExecutorForMessageDAG.h
  bcos-scheduler/test/mock/MockLedger.h
  bcos-scheduler/test/mock/MockLedger2.h
  bcos-scheduler/test/mock/MockMultiParallelExecutor.h
  bcos-scheduler/test/mock/MockRPC.h
  bcos-scheduler/test/mock/MockTransactionalStorage.h
  bcos-scheduler/test/testChecksumAddress.cpp
  bcos-scheduler/test/testCommitBlock.cpp
  bcos-scheduler/test/testExecutorManager.cpp
  bcos-scheduler/test/testKeyLocks.cpp
  bcos-scheduler/test/testScheduler.cpp
Labels: feature, protocol, tx

#2165 sync code from release-3.0.0-rc2
  .gitignore
  bcos-codec/scale/ScaleDecoderStream.h
  bcos-codec/scale/ScaleEncoderStream.h
  bcos-codec/test/unittests/ScaleCodecTest.cpp
  bcos-executor/src/Common.h
  bcos-executor/src/dag/Abi.cpp
  bcos-executor/src/dag/CriticalFields.h
  bcos-executor/src/dag/wasm.log
  bcos-executor/src/executive/SyncStorageWrapper.h
  bcos-executor/src/executive/TransactionExecutive.cpp
  bcos-executor/src/executor/EvmTransactionExecutor.cpp
  bcos-executor/src/executor/EvmTransactionExecutor.h
  bcos-executor/src/executor/TransactionExecutor.cpp
  bcos-executor/src/executor/TransactionExecutor.h
  bcos-executor/src/executor/WasmTransactionExecutor.cpp
  bcos-executor/src/executor/WasmTransactionExecutor.h
  bcos-executor/src/precompiled/extension/ContractAuthPrecompiled.cpp
  bcos-executor/test/unittest/libexecutor/wasm.log
  bcos-pbft/bcos-pbft/pbft/cache/PBFTCache.cpp
  bcos-pbft/bcos-pbft/pbft/cache/PBFTCacheProcessor.h
  bcos-pbft/bcos-pbft/pbft/config/PBFTConfig.h
  bcos-pbft/bcos-pbft/pbft/engine/BlockValidator.cpp
  bcos-pbft/bcos-pbft/pbft/engine/PBFTEngine.cpp
  bcos-pbft/bcos-pbft/pbft/engine/Validator.h
  bcos-rpc/bcos-rpc/jsonrpc/JsonRpcImpl_2_0.cpp
  bcos-scheduler/src/BlockExecutive.cpp
  bcos-scheduler/src/Common.h
  bcos-scheduler/src/SchedulerImpl.cpp
  bcos-scheduler/src/SchedulerImpl.h
  bcos-scheduler/test/testScheduler.cpp
  bcos-sync/bcos-sync/state/DownloadingQueue.cpp
  bcos-table/src/StateStorage.h
  bcos-tars-protocol/protocol/BlockHeaderImpl.cpp
  bcos-tars-protocol/protocol/BlockHeaderImpl.h
  libinitializer/Initializer.cpp
  tools/BcosAirBuilder/build_chain.sh
  tools/BcosProBuilder/src/scripts/generate_cert.sh
Labels: sync-code, v3.x

#2178 upgrade bcos-utilities and bcos-boostssl to latest version
  CMakeLists.txt
  cmake/config.cmake
Labels: upgrade, hunter

#2181 try to precommit/commit after no-timeout
  bcos-pbft/bcos-pbft/pbft/cache/PBFTCacheProcessor.cpp
  bcos-pbft/bcos-pbft/pbft/engine/PBFTEngine.cpp
Labels: bug fix, consensus

#2182 fix unthread-safe access of m_committedProposal
  bcos-pbft/bcos-pbft/pbft/config/PBFTConfig.cpp
Labels: consensus, coredump

#2183 update changeLog && fix build_chain.sh and generate_cert.sh
  ChangeLog.md
  tools/BcosAirBuilder/build_chain.sh
  tools/BcosProBuilder/src/scripts/generate_cert.sh
Labels: build-chain, 3.0.0-rc2, changelog

#2184 modify default binary version
  tools/BcosProBuilder/src/common/utilities.py
Labels: scripts

#2194 sync code from 3.0.0-rc2
  CMakeLists.txt
  ChangeLog.md
  README.md
  bcos-executor/src/precompiled/extension/DagTransferPrecompiled.h
  bcos-executor/src/precompiled/extension/HelloWorldPrecompiled.cpp
  bcos-executor/test/old/mock/MemoryStorage.h
  bcos-executor/test/unittest/libexecutor/TestScaleUtils.cpp
  bcos-front/bcos-front/FrontService.cpp
  bcos-front/test/unittests/FakeGateway.h
  bcos-pbft/bcos-pbft/pbft/cache/PBFTCache.cpp
  bcos-pbft/bcos-pbft/pbft/cache/PBFTCacheProcessor.cpp
  bcos-pbft/bcos-pbft/pbft/config/PBFTConfig.cpp
  bcos-pbft/bcos-pbft/pbft/engine/PBFTEngine.cpp
  bcos-protocol/bcos-protocol/protobuf/PBBlockHeader.h
  bcos-rpc/bcos-rpc/event/EventSubRequest.cpp
  bcos-rpc/bcos-rpc/event/EventSubResponse.cpp
  bcos-rpc/bcos-rpc/jsonrpc/JsonRpcImpl_2_0.cpp
  bcos-rpc/bcos-rpc/jsonrpc/JsonRpcImpl_2_0.h
  bcos-rpc/bcos-rpc/ws/ProtocolVersion.cpp
  bcos-rpc/bcos-rpc/ws/ProtocolVersion.h
  bcos-scheduler/src/SchedulerImpl.cpp
  bcos-scheduler/src/SchedulerImpl.h
  bcos-scheduler/test/testScheduler.cpp
  bcos-tars-protocol/protocol/BlockHeaderFactoryImpl.h
  cmake/config.cmake
  fisco-bcos-pro/FrontService/main/FrontServiceApp.h
  fisco-bcos-pro/PBFTService/main/PBFTServiceApp.h
  fisco-bcos-pro/TxPoolService/main/TxPoolServiceApp.h
  libinitializer/Initializer.cpp
  libinitializer/SchedulerInitializer.h
  tools/BcosAirBuilder/build_chain.sh
  tools/BcosProBuilder/src/common/utilities.py
  tools/BcosProBuilder/src/scripts/generate_cert.sh
Labels: sync-code

#2202 <fix>(Scheduler,Executor): fix receipt gas used bug, fix auth execute error when lastStorage is empty.
  CMakeLists.txt
  bcos-executor/src/executive/TransactionExecutive.cpp
  bcos-executor/src/executor/EvmTransactionExecutor.h
  bcos-executor/src/executor/TransactionExecutor.cpp
  bcos-executor/src/executor/TransactionExecutor.h
  bcos-executor/src/executor/WasmTransactionExecutor.cpp
  bcos-executor/src/executor/WasmTransactionExecutor.h
  bcos-scheduler/src/BlockExecutive.cpp
  bcos-scheduler/src/SchedulerImpl.cpp
  bcos-scheduler/test/mock/MockExecutorForCall.h
  bcos-table/test/CMakeLists.txt
Labels: gas, permission
