Repository FISCO-BCOS/FISCO-BCOS, pull requests merged in 2022-05, with the labels that each got.

#2408 fix dead-lock between pbftSealer and PBFTEngine
  libconsensus/Sealer.h
  libconsensus/pbft/PBFTSealer.cpp
  libconsensus/pbft/PBFTSealer.h
Labels: txs-seal, consensus, v2.9.0, deadlock

#2409 fix fisco-bcos-pro bug when enable-failover
  bcos-framework/interfaces/consensus/ConsensusInterface.h
  bcos-framework/interfaces/election/LeaderElectionInterface.h
  bcos-framework/interfaces/election/LeaderEntryPointInterface.h
  bcos-framework/interfaces/protocol/MemberInterface.h
  bcos-framework/interfaces/protocol/TransactionReceipt.h
  bcos-framework/testutils/faker/FakeFrontService.h
  bcos-framework/testutils/faker/FakeLedger.h
  bcos-framework/testutils/faker/FakeTxPool.h
  bcos-gateway/bcos-gateway/Gateway.cpp
  bcos-gateway/bcos-gateway/Gateway.h
  bcos-gateway/bcos-gateway/GatewayFactory.cpp
  bcos-gateway/bcos-gateway/GatewayFactory.h
  bcos-gateway/bcos-gateway/gateway/GatewayNodeManager.cpp
  bcos-gateway/bcos-gateway/gateway/GatewayNodeManager.h
  bcos-gateway/bcos-gateway/gateway/LocalRouterTable.cpp
  bcos-gateway/bcos-gateway/gateway/ProGatewayNodeManager.cpp
  bcos-gateway/bcos-gateway/gateway/ProGatewayNodeManager.h
  bcos-leader-election/CMakeLists.txt
  bcos-leader-election/src/CampaignConfig.cpp
  bcos-leader-election/src/ElectionConfig.cpp
  bcos-leader-election/src/ElectionConfig.h
  bcos-leader-election/src/LeaderElection.cpp
  bcos-leader-election/src/LeaderElection.h
  bcos-leader-election/src/LeaderElectionFactory.h
  bcos-leader-election/src/LeaderEntryPoint.h
  bcos-pbft/bcos-pbft/pbft/PBFTImpl.h
  bcos-rpc/CMakeLists.txt
  bcos-rpc/bcos-rpc/Rpc.cpp
  bcos-rpc/bcos-rpc/RpcFactory.cpp
  bcos-rpc/bcos-rpc/RpcFactory.h
  bcos-rpc/bcos-rpc/groupmgr/GroupManager.cpp
  bcos-rpc/bcos-rpc/groupmgr/GroupManager.h
  bcos-rpc/bcos-rpc/groupmgr/TarsGroupManager.h
  bcos-rpc/test/unittests/FakerTest.cpp
  bcos-tool/NodeConfig.cpp
  bcos-tool/NodeConfig.h
  cmake/config.cmake
  fisco-bcos-air/AirNodeInitializer.cpp
  fisco-bcos-pro/GatewayService/GatewayInitializer.cpp
  fisco-bcos-pro/GatewayService/main/Application.cpp
  fisco-bcos-pro/NodeService/main/NodeServiceApp.cpp
  fisco-bcos-pro/RpcService/RpcInitializer.cpp
  fisco-bcos-pro/RpcService/RpcServiceServer.cpp
  fisco-bcos-pro/RpcService/main/Application.cpp
  libinitializer/Initializer.cpp
  libinitializer/PBFTInitializer.cpp
  libinitializer/PBFTInitializer.h
  libinitializer/ProPBFTInitializer.cpp
  libinitializer/ProPBFTInitializer.h
Labels: bug fix, fisco-bcos-pro, failover

#2418 add tars protocol related to executor and scheduler
  bcos-executor/src/executor/TransactionExecutor.cpp
  bcos-executor/src/executor/TransactionExecutor.h
  bcos-executor/test/unittest/libexecutor/TestDagExecutor.cpp
  bcos-executor/test/unittest/libexecutor/TestEVMExecutor.cpp
  bcos-executor/test/unittest/libexecutor/TestWasmExecutor.cpp
  bcos-executor/test/unittest/libprecompiled/PreCompiledFixture.h
  bcos-executor/test/unittest/mock/MockTransactionalStorage.h
  bcos-framework/interfaces/executor/ExecutionMessage.h
  bcos-framework/interfaces/executor/ParallelTransactionExecutorInterface.h
  bcos-framework/interfaces/protocol/Protocol.h
  bcos-framework/interfaces/protocol/ProtocolTypeDef.h
  bcos-framework/interfaces/storage/StorageInterface.h
  bcos-ledger/test/unittests/ledger/LedgerTest.cpp
  bcos-scheduler/src/BlockExecutive.cpp
  bcos-scheduler/test/mock/MockExecutor.h
  bcos-scheduler/test/mock/MockExecutor3.h
  bcos-scheduler/test/mock/MockExecutorForMessageDAG.h
  bcos-scheduler/test/mock/MockLedger.h
  bcos-scheduler/test/mock/MockMultiParallelExecutor.h
  bcos-scheduler/test/mock/MockTransactionalStorage.h
  bcos-storage/src/RocksDBStorage.cpp
  bcos-storage/src/RocksDBStorage.h
  bcos-storage/src/TiKVStorage.cpp
  bcos-storage/src/TiKVStorage.h
  bcos-storage/test/unittest/TestRocksDBStorage.cpp
  bcos-storage/test/unittest/TestTiKVStorage.cpp
  bcos-table/test/unittests/mock/MockTransactionalStorage.h
  bcos-tars-protocol/Common.h
  bcos-tars-protocol/ErrorConverter.h
  bcos-tars-protocol/client/ExecutorServiceClient.cpp
  bcos-tars-protocol/client/ExecutorServiceClient.h
  bcos-tars-protocol/client/SchedulerServiceClient.cpp
  bcos-tars-protocol/client/SchedulerServiceClient.h
  bcos-tars-protocol/protocol/BlockImpl.h
  bcos-tars-protocol/protocol/ExecutionMessageImpl.cpp
  bcos-tars-protocol/protocol/ExecutionMessageImpl.h
  bcos-tars-protocol/protocol/TransactionReceiptImpl.h
  bcos-tars-protocol/tars/ExecutionMessage.tars
  bcos-tars-protocol/tars/ExecutorService.tars
  bcos-tars-protocol/tars/SchedulerService.tars
  bcos-tars-protocol/tars/TwoPCParams.tars
  bcos-tars-protocol/test/ProtocolTest.cpp
  fisco-bcos-pro/SchedulerService/CMakeLists.txt
  fisco-bcos-pro/SchedulerService/SchedulerServiceServer.cpp
  fisco-bcos-pro/SchedulerService/SchedulerServiceServer.h
  libinitializer/ExecutorInitializer.h
  libinitializer/ParallelExecutor.h
Labels: protocol, scheduler, tars, fisco-bcos-max

#2421 notify the consensus module of the latest compatible-version-number
  bcos-executor/src/precompiled/SystemConfigPrecompiled.cpp
  bcos-executor/src/precompiled/SystemConfigPrecompiled.h
  bcos-framework/interfaces/consensus/ConsensusInterface.h
  bcos-framework/interfaces/ledger/LedgerConfig.h
  bcos-framework/interfaces/protocol/GlobalConfig.h
  bcos-framework/interfaces/protocol/Protocol.h
  bcos-ledger/src/libledger/Ledger.cpp
  bcos-pbft/bcos-pbft/core/ConsensusConfig.h
  bcos-pbft/bcos-pbft/pbft/PBFTImpl.cpp
  bcos-pbft/bcos-pbft/pbft/PBFTImpl.h
  bcos-pbft/bcos-pbft/pbft/config/PBFTConfig.cpp
  bcos-rpc/bcos-rpc/groupmgr/AirGroupManager.h
  bcos-scheduler/src/SchedulerImpl.cpp
  bcos-scheduler/src/SchedulerImpl.h
  bcos-sealer/bcos-sealer/Sealer.cpp
  bcos-tars-protocol/Common.h
  bcos-tars-protocol/ErrorConverter.h
  bcos-tars-protocol/tars/LedgerConfig.tars
  bcos-tool/LedgerConfigFetcher.cpp
  bcos-tool/LedgerConfigFetcher.h
  bcos-tool/NodeConfig.cpp
  bcos-tool/NodeConfig.h
  bcos-tool/VersionConverter.h
  fisco-bcos-pro/FrontService/FrontServiceServer.cpp
  fisco-bcos-pro/GatewayService/GatewayServiceServer.cpp
  fisco-bcos-pro/GatewayService/GatewayServiceServer.h
  libinitializer/Initializer.cpp
  libinitializer/LedgerInitializer.h
  libinitializer/PBFTInitializer.cpp
  libinitializer/PBFTInitializer.h
Labels: compatibility, 3.0.0-rc4

#2426 move fisco-bcos-pro to fisco-bcos-tars-service
  .github/workflows/release.yml
  .github/workflows/workflow.yml
  CMakeLists.txt
  bcos-framework/interfaces/protocol/Protocol.h
  cmake/IncludeDirectories.cmake
  fisco-bcos-pro/CMakeLists.txt
  fisco-bcos-pro/ExecutorService/main/CMakeLists.txt
  fisco-bcos-pro/GatewayService/main/CMakeLists.txt
  fisco-bcos-pro/RpcService/main/CMakeLists.txt
  fisco-bcos-tars-service/CMakeLists.txt
  fisco-bcos-tars-service/Common/TarsUtils.h
  fisco-bcos-tars-service/ExecutorService/ExecutorServiceServer.cpp
  fisco-bcos-tars-service/ExecutorService/ExecutorServiceServer.h
  fisco-bcos-tars-service/ExecutorService/main/CMakeLists.txt
  fisco-bcos-tars-service/ExecutorService/main/ExecutorServiceApp.cpp
  fisco-bcos-tars-service/ExecutorService/main/ExecutorServiceApp.h
  fisco-bcos-tars-service/ExecutorService/main/main.cpp
  fisco-bcos-tars-service/FrontService/FrontServiceServer.cpp
  fisco-bcos-tars-service/FrontService/FrontServiceServer.h
  fisco-bcos-tars-service/GatewayService/GatewayInitializer.cpp
  fisco-bcos-tars-service/GatewayService/GatewayInitializer.h
  fisco-bcos-tars-service/GatewayService/GatewayServiceServer.cpp
  fisco-bcos-tars-service/GatewayService/GatewayServiceServer.h
  fisco-bcos-tars-service/GatewayService/main/Application.cpp
  fisco-bcos-tars-service/GatewayService/main/CMakeLists.txt
  fisco-bcos-tars-service/LedgerService/CMakeLists.txt
  fisco-bcos-tars-service/LedgerService/LedgerServiceServer.cpp
  fisco-bcos-tars-service/LedgerService/LedgerServiceServer.h
  fisco-bcos-tars-service/NodeService/NodeServiceApp.cpp
  fisco-bcos-tars-service/NodeService/NodeServiceApp.h
  fisco-bcos-tars-service/NodeService/max/CMakeLists.txt
  fisco-bcos-tars-service/NodeService/max/main.cpp
  fisco-bcos-tars-service/NodeService/pro/CMakeLists.txt
  fisco-bcos-tars-service/NodeService/pro/main.cpp
  fisco-bcos-tars-service/PBFTService/PBFTServiceClient.h
  fisco-bcos-tars-service/PBFTService/PBFTServiceServer.cpp
  fisco-bcos-tars-service/PBFTService/PBFTServiceServer.h
  fisco-bcos-tars-service/RpcService/RpcInitializer.cpp
  fisco-bcos-tars-service/RpcService/RpcInitializer.h
  fisco-bcos-tars-service/RpcService/RpcServiceServer.cpp
  fisco-bcos-tars-service/RpcService/RpcServiceServer.h
  fisco-bcos-tars-service/RpcService/main/Application.cpp
  fisco-bcos-tars-service/RpcService/main/CMakeLists.txt
  fisco-bcos-tars-service/SchedulerService/SchedulerServiceServer.cpp
  fisco-bcos-tars-service/SchedulerService/SchedulerServiceServer.h
  fisco-bcos-tars-service/SchedulerService/main/CMakeLists.txt
  fisco-bcos-tars-service/SchedulerService/main/SchedulerServiceApp.cpp
  fisco-bcos-tars-service/SchedulerService/main/SchedulerServiceApp.h
  fisco-bcos-tars-service/SchedulerService/main/main.cpp
  fisco-bcos-tars-service/TxPoolService/TxPoolServiceServer.cpp
  fisco-bcos-tars-service/TxPoolService/TxPoolServiceServer.h
  libinitializer/CommandHelper.cpp
  libinitializer/Common.h
  libinitializer/ExecutorInitializer.h
  libinitializer/Initializer.cpp
  libinitializer/Initializer.h
  libinitializer/PBFTInitializer.cpp
  libinitializer/PBFTInitializer.h
  libinitializer/ProPBFTInitializer.cpp
  libinitializer/ProPBFTInitializer.h
Labels: 3.0.0-rc4, fisco-bcos-max

#2428 retry consensus when commit-error
  bcos-leader-election/src/ElectionConfig.cpp
  bcos-pbft/bcos-pbft/pbft/cache/PBFTCache.h
  bcos-pbft/bcos-pbft/pbft/cache/PBFTCacheProcessor.cpp
  bcos-pbft/bcos-pbft/pbft/cache/PBFTCacheProcessor.h
  bcos-pbft/bcos-pbft/pbft/engine/PBFTEngine.cpp
  bcos-pbft/bcos-pbft/pbft/engine/PBFTEngine.h
  bcos-pbft/bcos-pbft/pbft/interfaces/PBFTStorage.h
  bcos-pbft/bcos-pbft/pbft/storage/LedgerStorage.cpp
  bcos-pbft/bcos-pbft/pbft/storage/LedgerStorage.h
  libinitializer/PBFTInitializer.cpp
Labels: consensus, 3.0.0-rc4, recovery

#2447 fix viewchange/newView messages verification vulnerability
  .github/workflows/workflow.yml
  bcos-executor/src/executor/TransactionExecutor.cpp
  bcos-framework/testutils/faker/FakeTxPool.h
  bcos-gateway/bcos-gateway/libamop/AMOPImpl.cpp
  bcos-gateway/bcos-gateway/libp2p/Service.cpp
  bcos-pbft/bcos-pbft/pbft/engine/PBFTEngine.cpp
  bcos-pbft/bcos-pbft/pbft/protocol/PB/PBFTCodec.cpp
  bcos-pbft/bcos-pbft/pbft/storage/LedgerStorage.cpp
  bcos-pbft/test/unittests/protocol/FakePBFTMessage.h
  bcos-protocol/bcos-protocol/testutils/protocol/FakeTransaction.h
  bcos-txpool/bcos-txpool/sync/TransactionSync.cpp
  tools/.ci/ci_check.sh
Labels: consensus, vulnerability, 3.0.0-rc4

#2457 optimize txpool perf
  bcos-pbft/bcos-pbft/pbft/cache/PBFTCacheProcessor.cpp
  bcos-pbft/bcos-pbft/pbft/config/PBFTConfig.h
  bcos-pbft/bcos-pbft/pbft/engine/PBFTEngine.cpp
  bcos-rpc/bcos-rpc/Rpc.cpp
  bcos-rpc/bcos-rpc/Rpc.h
  bcos-rpc/bcos-rpc/amop/AMOPClient.cpp
  bcos-rpc/bcos-rpc/amop/AMOPClient.h
  bcos-rpc/bcos-rpc/amop/AirAMOPClient.h
  bcos-rpc/bcos-rpc/event/EventSub.cpp
  bcos-rpc/bcos-rpc/event/EventSub.h
  bcos-rpc/bcos-rpc/jsonrpc/JsonRpcImpl_2_0.cpp
  bcos-rpc/bcos-rpc/jsonrpc/JsonRpcImpl_2_0.h
  bcos-scheduler/src/SchedulerImpl.cpp
  bcos-txpool/bcos-txpool/TxPool.cpp
  bcos-txpool/bcos-txpool/TxPool.h
  bcos-txpool/bcos-txpool/sync/TransactionSync.cpp
  bcos-txpool/bcos-txpool/sync/TransactionSync.h
  bcos-txpool/bcos-txpool/txpool/interfaces/TxPoolStorageInterface.h
  bcos-txpool/bcos-txpool/txpool/storage/MemoryStorage.cpp
  bcos-txpool/bcos-txpool/txpool/storage/MemoryStorage.h
  bcos-txpool/test/unittests/txpool/TxPoolTest.cpp
  cmake/ProjectBCOSWASM.cmake
  cmake/config.cmake
Labels: perf, txpool, 3.0.0-rc4

#2463 Feature 3.0.0 monitor
  tools/BcosAirBuilder/build_chain.sh
Labels: feature, monitor, 3.0.0-rc4

#2451 <fix>(builder,precompiled): mv executor config to genesis, fix touch interface to creat path after touch file.
  bcos-executor/src/executive/TransactionExecutive.cpp
  bcos-executor/src/executor/TransactionExecutor.cpp
  bcos-executor/src/precompiled/FileSystemPrecompiled.cpp
  bcos-executor/src/precompiled/TableManagerPrecompiled.cpp
  bcos-executor/src/precompiled/common/Common.h
  bcos-executor/src/precompiled/common/Utilities.cpp
  bcos-executor/src/precompiled/common/Utilities.h
  bcos-executor/test/unittest/libprecompiled/FileSystemPrecompiledTest.cpp
  bcos-executor/test/unittest/libprecompiled/TablePrecompiledTest.cpp
  bcos-tool/NodeConfig.cpp
  fisco-bcos-tars-service/ExecutorService/main/ExecutorServiceApp.cpp
  fisco-bcos-tars-service/ExecutorService/main/ExecutorServiceApp.h
  fisco-bcos-tars-service/SchedulerService/main/SchedulerServiceApp.cpp
  fisco-bcos-tars-service/SchedulerService/main/SchedulerServiceApp.h
  tools/BcosAirBuilder/build_chain.sh
  tools/BcosBuilder/src/config/chain_config.py
  tools/BcosBuilder/src/config/max_node_config_generator.py
  tools/BcosBuilder/src/config/node_config_generator.py
Labels: executor, 3.0.0-rc4, genesis

#2465 Feature 3.0.0 monitor (#2463)
  tools/BcosAirBuilder/build_chain.sh
Labels: sync-code, 3.0.0-rc4

#2464 set seq for requestMsg of asyncNotifyAMOPMessage
  bcos-rpc/bcos-rpc/amop/AMOPClient.cpp
Labels: bug fix, amop, 3.0.0-rc4

#2466 <fix>(precompiled): move desc to tableManager, change updateField struct.
  bcos-codec/wrapper/CodecWrapper.h
  bcos-executor/src/executive/TransactionExecutive.cpp
  bcos-executor/src/precompiled/CryptoPrecompiled.cpp
  bcos-executor/src/precompiled/CryptoPrecompiled.h
  bcos-executor/src/precompiled/FileSystemPrecompiled.cpp
  bcos-executor/src/precompiled/KVTablePrecompiled.cpp
  bcos-executor/src/precompiled/KVTablePrecompiled.h
  bcos-executor/src/precompiled/SystemConfigPrecompiled.cpp
  bcos-executor/src/precompiled/TableManagerPrecompiled.cpp
  bcos-executor/src/precompiled/TableManagerPrecompiled.h
  bcos-executor/src/precompiled/TablePrecompiled.cpp
  bcos-executor/src/precompiled/TablePrecompiled.h
  bcos-executor/src/precompiled/common/Common.h
  bcos-executor/src/precompiled/common/PrecompiledResult.h
  bcos-executor/src/precompiled/common/Utilities.cpp
  bcos-executor/src/precompiled/extension/AuthManagerPrecompiled.cpp
  bcos-executor/src/precompiled/extension/ContractAuthMgrPrecompiled.cpp
  bcos-executor/src/precompiled/extension/CpuHeavyPrecompiled.cpp
  bcos-executor/src/precompiled/extension/DagTransferPrecompiled.cpp
  bcos-executor/src/precompiled/extension/HelloWorldPrecompiled.cpp
  bcos-executor/src/precompiled/extension/SmallBankPrecompiled.cpp
  bcos-executor/src/precompiled/solidity/Table.sol
  bcos-executor/test/unittest/libprecompiled/KVTablePrecompiledTest.cpp
  bcos-executor/test/unittest/libprecompiled/TablePrecompiledTest.cpp
  libinitializer/AuthInitializer.h
Labels: refactor, 3.0.0-rc4

#2383 Add the security storage
  CMakeLists.txt
  bcos-framework/interfaces/security/DataEncryptInterface.h
  bcos-gateway/CMakeLists.txt
  bcos-gateway/bcos-gateway/GatewayConfig.cpp
  bcos-gateway/bcos-gateway/GatewayConfig.h
  bcos-gateway/bcos-gateway/GatewayFactory.cpp
  bcos-gateway/bcos-gateway/GatewayFactory.h
  bcos-gateway/test/common/FrontServiceBuilder.h
  bcos-gateway/test/main/main.cpp
  bcos-ledger/src/libledger/Ledger.cpp
  bcos-rpc/bcos-rpc/RpcFactory.cpp
  bcos-rpc/bcos-rpc/RpcFactory.h
  bcos-scheduler/src/SchedulerImpl.h
  bcos-security/CMakeLists.txt
  bcos-security/bcos-security/Common.h
  bcos-security/bcos-security/DataEncryption.cpp
  bcos-security/bcos-security/DataEncryption.h
  bcos-security/bcos-security/KeyCenter.cpp
  bcos-security/bcos-security/KeyCenter.h
  bcos-storage/src/RocksDBStorage.cpp
  bcos-storage/src/RocksDBStorage.h
  bcos-storage/test/unittest/CMakeLists.txt
  bcos-storage/test/unittest/TestRocksDBStorage.cpp
  bcos-storage/tools/CMakeLists.txt
  bcos-storage/tools/reader.cpp
  bcos-tool/NodeConfig.cpp
  bcos-tool/NodeConfig.h
  cmake/TargetSettings.cmake
  fisco-bcos-air/AirNodeInitializer.cpp
  libinitializer/CMakeLists.txt
  libinitializer/Initializer.cpp
  libinitializer/Initializer.h
  libinitializer/ProtocolInitializer.cpp
  libinitializer/ProtocolInitializer.h
  libinitializer/StorageInitializer.h
Labels: feature, security, 3.0.0-rc4, storage-security

#2467 Add message forwarding mechanism based on rip routing
  .github/workflows/workflow.yml
  bcos-framework/interfaces/gateway/GatewayTypeDef.h
  bcos-framework/interfaces/protocol/GlobalConfig.h
  bcos-framework/interfaces/protocol/Protocol.h
  bcos-front/bcos-front/FrontService.cpp
  bcos-gateway/bcos-gateway/Gateway.cpp
  bcos-gateway/bcos-gateway/GatewayFactory.cpp
  bcos-gateway/bcos-gateway/GatewayFactory.h
  bcos-gateway/bcos-gateway/gateway/GatewayNodeManager.cpp
  bcos-gateway/bcos-gateway/libamop/AMOPImpl.cpp
  bcos-gateway/bcos-gateway/libamop/TopicManager.cpp
  bcos-gateway/bcos-gateway/libnetwork/Message.h
  bcos-gateway/bcos-gateway/libnetwork/Session.cpp
  bcos-gateway/bcos-gateway/libnetwork/Session.h
  bcos-gateway/bcos-gateway/libp2p/Common.h
  bcos-gateway/bcos-gateway/libp2p/P2PInterface.h
  bcos-gateway/bcos-gateway/libp2p/P2PMessage.cpp
  bcos-gateway/bcos-gateway/libp2p/P2PMessage.h
  bcos-gateway/bcos-gateway/libp2p/P2PMessageV2.cpp
  bcos-gateway/bcos-gateway/libp2p/P2PMessageV2.h
  bcos-gateway/bcos-gateway/libp2p/P2PSession.cpp
  bcos-gateway/bcos-gateway/libp2p/P2PSession.h
  bcos-gateway/bcos-gateway/libp2p/Service.cpp
  bcos-gateway/bcos-gateway/libp2p/Service.h
  bcos-gateway/bcos-gateway/libp2p/ServiceV2.cpp
  bcos-gateway/bcos-gateway/libp2p/ServiceV2.h
  bcos-gateway/bcos-gateway/libp2p/router/RouterTableImpl.cpp
  bcos-gateway/bcos-gateway/libp2p/router/RouterTableImpl.h
  bcos-gateway/bcos-gateway/libp2p/router/RouterTableInterface.h
  bcos-gateway/test/unittests/GatewayMessageTest.cpp
  bcos-pbft/bcos-pbft/pbft/engine/PBFTEngine.cpp
  bcos-rpc/bcos-rpc/RpcFactory.cpp
  bcos-tars-protocol/protocol/RouterTable.tars
Labels: gateway, 3.0.0-rc4, message-forward

#2469 set compatibilityVersion for the empty block
  bcos-pbft/bcos-pbft/pbft/cache/PBFTCacheProcessor.cpp
  bcos-pbft/bcos-pbft/pbft/engine/Validator.h
Labels: bug fix, compatibility, 3.0.0-rc4

#2472 fix BcosBuilder
  tools/BcosAirBuilder/build_chain.sh
  tools/BcosBuilder/max/conf/config-node-expand-example.toml
  tools/BcosBuilder/pro/conf/config-node-expand-example.toml
  tools/BcosBuilder/src/config/chain_config.py
  tools/BcosBuilder/src/service/tars_service.py
  tools/BcosBuilder/src/tpl/config.genesis
  tools/BcosBuilder/src/tpl/config.ini.executor
  tools/BcosBuilder/src/tpl/config.ini.node
Labels: bug fix, build-chain

#2477 build_chain.py support storage_security
  bcos-framework/interfaces/security/DataEncryptInterface.h
  bcos-security/bcos-security/DataEncryption.cpp
  bcos-security/bcos-security/DataEncryption.h
  bcos-security/bcos-security/KeyCenter.cpp
  bcos-security/bcos-security/KeyCenter.h
  bcos-tool/NodeConfig.cpp
  tools/BcosAirBuilder/build_chain.sh
  tools/BcosBuilder/max/conf/config-deploy-example.toml
  tools/BcosBuilder/max/conf/config-node-expand-example.toml
  tools/BcosBuilder/max/conf/config-service-expand-example.toml
  tools/BcosBuilder/pro/conf/config-deploy-example.toml
  tools/BcosBuilder/pro/conf/config-node-expand-example.toml
  tools/BcosBuilder/pro/conf/config-service-expand-example.toml
  tools/BcosBuilder/src/config/chain_config.py
  tools/BcosBuilder/src/config/node_config_generator.py
  tools/BcosBuilder/src/config/service_config_generator.py
  tools/BcosBuilder/src/tpl/config.ini.gateway
  tools/BcosBuilder/src/tpl/config.ini.node
  tools/BcosBuilder/src/tpl/config.ini.rpc
Labels: build-chain, 3.0.0-rc4, storage-security

#2427 add KeyPageStorage
  bcos-executor/src/executive/BlockContext.cpp
  bcos-executor/src/executive/BlockContext.h
  bcos-executor/src/executive/SyncStorageWrapper.h
  bcos-executor/src/executive/TransactionExecutive.cpp
  bcos-executor/src/executive/TransactionExecutive.h
  bcos-executor/src/executor/EvmTransactionExecutor.h
  bcos-executor/src/executor/TransactionExecutor.cpp
  bcos-executor/src/executor/TransactionExecutor.h
  bcos-executor/src/executor/TransactionExecutorFactory.h
  bcos-executor/src/executor/WasmTransactionExecutor.h
  bcos-executor/src/vm/EVMHostInterface.cpp
  bcos-executor/src/vm/HostContext.cpp
  bcos-executor/src/vm/Precompiled.cpp
  bcos-executor/src/vm/Precompiled.h
  bcos-executor/test/unittest/libexecutor/TestDagExecutor.cpp
  bcos-executor/test/unittest/libexecutor/TestEVMExecutor.cpp
  bcos-executor/test/unittest/libexecutor/TestWasmExecutor.cpp
  bcos-executor/test/unittest/libprecompiled/PreCompiledFixture.h
  bcos-framework/interfaces/storage/Common.h
  bcos-framework/interfaces/storage/Entry.h
  bcos-ledger/src/libledger/Ledger.cpp
  bcos-scheduler/src/GraphKeyLocks.h
  bcos-storage/src/Common.h
  bcos-storage/src/RocksDBStorage.cpp
  bcos-table/src/KeyPageStorage.cpp
  bcos-table/src/KeyPageStorage.h
  bcos-table/src/StateStorage.h
  bcos-table/src/StateStorageInterface.h
  bcos-table/test/unittests/libtable/Entry.cpp
  bcos-table/test/unittests/libtable/Hash.h
  bcos-table/test/unittests/libtable/TestKeyPageStorage.cpp
  bcos-table/test/unittests/libtable/TestStateStorage.cpp
  bcos-tool/NodeConfig.cpp
  bcos-tool/NodeConfig.h
  libinitializer/ExecutorInitializer.h
  libinitializer/Initializer.cpp
  libinitializer/StorageInitializer.h
  tests/CMakeLists.txt
  tests/perf/CMakeLists.txt
  tests/perf/benchmark.cpp
  tools/BcosAirBuilder/build_chain.sh
Labels: 3.0.0-rc4, key-page

#2481 add AUTH_COMMITTEE_ADDRESS into c_systemTxsAddress enforce the sys-contracts execute in serial
  bcos-framework/interfaces/executor/PrecompiledTypeDef.h
Labels: sys-txs, 3.0.0-rc4

#2480 calculate transactionHash/headerHash/receiptHash with input buffer
  bcos-executor/src/precompiled/SystemConfigPrecompiled.cpp
  bcos-framework/interfaces/protocol/Protocol.h
  bcos-framework/interfaces/protocol/Transaction.h
  bcos-framework/interfaces/protocol/TransactionReceipt.h
  bcos-gateway/CMakeLists.txt
  bcos-gateway/test/main/CMakeLists.txt
  bcos-ledger/src/libledger/Ledger.cpp
  bcos-ledger/test/unittests/ledger/LedgerTest.cpp
  bcos-protocol/bcos-protocol/protobuf/PBBlock.cpp
  bcos-protocol/bcos-protocol/protobuf/PBTransaction.cpp
  bcos-protocol/bcos-protocol/protobuf/PBTransaction.h
  bcos-protocol/bcos-protocol/protobuf/PBTransactionReceipt.h
  bcos-protocol/bcos-protocol/testutils/protocol/FakeTransaction.h
  bcos-protocol/bcos-protocol/testutils/protocol/FakeTransactionReceipt.h
  bcos-protocol/test/unittests/libprotocol/PBTransactionTest.cpp
  bcos-rpc/CMakeLists.txt
  bcos-scheduler/test/mock/MockLedger.h
  bcos-storage/test/unittest/TestRocksDBStorage.cpp
  bcos-storage/test/unittest/TestTiKVStorage.cpp
  bcos-sync/bcos-sync/state/DownloadingQueue.cpp
  bcos-table/test/unittests/libtable/Hash.h
  bcos-tars-protocol/protocol/BlockHeaderImpl.cpp
  bcos-tars-protocol/protocol/TransactionImpl.cpp
  bcos-tars-protocol/protocol/TransactionImpl.h
  bcos-tars-protocol/protocol/TransactionReceiptImpl.cpp
  bcos-tars-protocol/protocol/TransactionReceiptImpl.h
  bcos-tars-protocol/test/ProtocolTest.cpp
  bcos-tool/LedgerConfigFetcher.cpp
  bcos-tool/NodeConfig.cpp
  bcos-tool/VersionConverter.h
  bcos-txpool/bcos-txpool/txpool/storage/MemoryStorage.cpp
  cmake/config.cmake
  fisco-bcos-tars-service/GatewayService/main/CMakeLists.txt
  tools/.ci/ci_check.sh
Labels: protocol, 3.0.0-rc4, cal-hash
