Repository FISCO-BCOS/FISCO-BCOS, pull requests merged in 2022-06, with the labels that each got.

#2488 fix deadlock caused by triggerVerifyCompletedHook
  bcos-gateway/bcos-gateway/libp2p/ServiceV2.cpp
  bcos-gateway/bcos-gateway/libp2p/ServiceV2.h
  bcos-gateway/bcos-gateway/libp2p/router/RouterTableImpl.cpp
  bcos-gateway/bcos-gateway/libp2p/router/RouterTableImpl.h
  bcos-gateway/bcos-gateway/libp2p/router/RouterTableInterface.h
  bcos-pbft/bcos-pbft/pbft/engine/Validator.h
  bcos-tars-protocol/protocol/RouterTable.tars
Labels: bug fix, refactor, consensus, deadlock, 3.0.0-rc4

#2489 add ttl to p2pMessage
  bcos-gateway/bcos-gateway/libp2p/P2PMessage.cpp
  bcos-gateway/bcos-gateway/libp2p/P2PMessageV2.cpp
  bcos-gateway/bcos-gateway/libp2p/P2PMessageV2.h
  bcos-gateway/bcos-gateway/libp2p/ServiceV2.cpp
  bcos-gateway/test/unittests/GatewayMessageTest.cpp
Labels: gateway, 3.0.0-rc4, ttl

#2490 stop execute block with version larger than local max_supported_version
  bcos-executor/src/executor/TransactionExecutor.cpp
  bcos-executor/src/precompiled/SystemConfigPrecompiled.cpp
  bcos-framework/interfaces/protocol/Protocol.h
  bcos-scheduler/src/Common.h
  bcos-scheduler/src/SchedulerImpl.cpp
  bcos-sealer/bcos-sealer/Sealer.cpp
  bcos-tool/VersionConverter.h
Labels: compatibility, 3.0.0-rc4

#2495 add version to AMOPMessage
  bcos-gateway/bcos-gateway/libamop/AMOPImpl.cpp
  bcos-gateway/bcos-gateway/libamop/AMOPMessage.cpp
  bcos-gateway/bcos-gateway/libamop/AMOPMessage.h
Labels: amop, compatibility

#2498 fix calculate tps caused coredump
  bcos-txpool/bcos-txpool/txpool/storage/MemoryStorage.cpp
Labels: coredump, 3.0.0-rc4

#2511 gateway use IOServicePool
  .github/workflows/workflow.yml
  CMakeLists.txt
  bcos-cmake-scripts/InstallBcosUtilities.cmake
  bcos-framework/interfaces/election/LeaderEntryPointInterface.h
  bcos-framework/interfaces/security/DataEncryptInterface.h
  bcos-gateway/CMakeLists.txt
  bcos-gateway/bcos-gateway/GatewayFactory.cpp
  bcos-gateway/bcos-gateway/GatewayFactory.h
  bcos-gateway/bcos-gateway/libnetwork/ASIOInterface.h
  bcos-gateway/bcos-gateway/libnetwork/Host.cpp
  bcos-gateway/bcos-gateway/libnetwork/Host.h
  bcos-gateway/bcos-gateway/libnetwork/Session.cpp
  bcos-gateway/bcos-gateway/libnetwork/Session.h
  bcos-gateway/bcos-gateway/libnetwork/Socket.h
  bcos-gateway/bcos-gateway/libnetwork/SocketFace.h
  bcos-gateway/bcos-gateway/libp2p/Service.cpp
  bcos-gateway/bcos-gateway/libp2p/Service.h
  bcos-pbft/bcos-pbft/core/StateMachine.cpp
  bcos-pbft/bcos-pbft/core/StateMachine.h
  bcos-pbft/bcos-pbft/pbft/cache/PBFTCacheProcessor.cpp
  bcos-pbft/bcos-pbft/pbft/config/PBFTConfig.cpp
  bcos-pbft/bcos-pbft/pbft/engine/PBFTEngine.cpp
  bcos-rpc/bcos-rpc/RpcFactory.cpp
  bcos-rpc/bcos-rpc/event/EventSub.h
  bcos-rpc/bcos-rpc/jsonrpc/JsonRpcImpl_2_0.cpp
  bcos-scheduler/test/mock/MockExecutor.h
  cmake/IncludeDirectories.cmake
  cmake/config.cmake
  fisco-bcos-demo/CMakeLists.txt
  fisco-bcos-demo/echo_client_sample.cpp
  fisco-bcos-demo/echo_server_sample.cpp
Labels: gateway, perf

#2518 only seal the txs that have been write to the backend
  bcos-executor/src/executive/BlockContext.cpp
  bcos-executor/src/executive/BlockContext.h
  bcos-executor/src/executive/ExecutiveStackFlow.cpp
  bcos-executor/src/executive/ExecutiveState.cpp
  bcos-executor/src/executive/TransactionExecutive.cpp
  bcos-executor/src/executor/TransactionExecutor.cpp
  bcos-framework/interfaces/protocol/Transaction.h
  bcos-gateway/bcos-gateway/GatewayFactory.cpp
  bcos-leader-election/src/CampaignConfig.cpp
  bcos-leader-election/src/CampaignConfig.h
  bcos-leader-election/src/LeaderElection.cpp
  bcos-pbft/bcos-pbft/pbft/PBFTImpl.cpp
  bcos-pbft/bcos-pbft/pbft/PBFTImpl.h
  bcos-pbft/bcos-pbft/pbft/engine/PBFTEngine.cpp
  bcos-pbft/test/unittests/pbft/PBFTFixture.h
  bcos-scheduler/src/BlockExecutive.cpp
  bcos-scheduler/src/DmcExecutor.cpp
  bcos-scheduler/src/DmcExecutor.h
  bcos-scheduler/src/GraphKeyLocks.cpp
  bcos-scheduler/src/SchedulerImpl.h
  bcos-scheduler/src/SchedulerManager.cpp
  bcos-tars-protocol/protocol/ExecutionMessageImpl.cpp
  bcos-txpool/bcos-txpool/sync/TransactionSync.cpp
  bcos-txpool/bcos-txpool/txpool/storage/MemoryStorage.cpp
  bcos-txpool/test/unittests/txpool/TxPoolTest.cpp
Labels: txs-seal, 3.0.0-rc4

#2499 Feature 3.0.0 rc4 monitor feature adaptive pro/max version
  tools/BcosAirBuilder/build_chain.sh
  tools/BcosBuilder/docker/host/linux/monitor/compose.yaml
  tools/BcosBuilder/docker/host/linux/monitor/grafana/grafana.ini
  tools/BcosBuilder/docker/host/linux/monitor/prometheus/prometheus.yml
  tools/BcosBuilder/docker/host/linux/monitor/start_monitor.sh
  tools/BcosBuilder/docker/host/linux/monitor/stop_monitor.sh
  tools/BcosBuilder/max/conf/config-deploy-example.toml
  tools/BcosBuilder/max/conf/config-node-expand-example.toml
  tools/BcosBuilder/pro/conf/config-deploy-example.toml
  tools/BcosBuilder/pro/conf/config-node-expand-example.toml
  tools/BcosBuilder/src/command/monitor_command_impl.py
  tools/BcosBuilder/src/common/parser_handler.py
  tools/BcosBuilder/src/common/utilities.py
  tools/BcosBuilder/src/config/chain_config.py
  tools/BcosBuilder/src/config/monitor_config_generator.py
  tools/BcosBuilder/src/controller/binary_controller.py
  tools/BcosBuilder/src/controller/monitor_controller.py
  tools/BcosBuilder/src/scripts/mtail/node.mtail
  tools/BcosBuilder/src/scripts/mtail/start_mtail_monitor.sh
  tools/BcosBuilder/src/scripts/mtail/stop_mtail_monitor.sh
Labels: monitor, 3.0.0-rc4

#2519 fix the node exit with std::terminate when sdk connect the node with p2p-port
  bcos-gateway/bcos-gateway/libnetwork/Session.cpp
  bcos-gateway/bcos-gateway/libp2p/Service.h
Labels: gateway, coredump, vulnerability

#2521 optimize checkpoint-fetch log
  bcos-pbft/bcos-pbft/pbft/cache/PBFTCacheProcessor.cpp
  bcos-pbft/bcos-pbft/pbft/engine/PBFTEngine.cpp
  bcos-pbft/bcos-pbft/pbft/engine/PBFTLogSync.cpp
Labels: consensus, 3.0.0-rc4

#2526 drop discontinuous applied block
  bcos-front/bcos-front/FrontService.cpp
  bcos-sync/bcos-sync/state/DownloadingQueue.cpp
Labels: 3.0.0-rc4, block-sync

#2530 fix ProjectGroupSig && trigger onCommitFailed when commitBlock failed
  CMakeLists.txt
  bcos-executor/CMakeLists.txt
  bcos-sync/bcos-sync/state/DownloadingQueue.cpp
  bcos-sync/bcos-sync/state/DownloadingQueue.h
  bcos-sync/test/unittests/faker/FakeConsensus.h
  bcos-sync/test/unittests/sync/BlockSyncTest.cpp
  bcos-txpool/test/unittests/txpool/TxsSyncTest.cpp
  cmake/ProjectCryptopp.cmake
  cmake/ProjectGroupSig.cmake
  cmake/ProjectJsonCpp.cmake
  tools/BcosBuilder/src/config/chain_config.py
  tools/BcosBuilder/src/controller/service_controller.py
Labels: compile, 3.0.0-rc4, block-sync

#2534 fix compile of group-sig bug for m1
  bcos-executor/src/precompiled/extension/GroupSigPrecompiled.cpp
  bcos-executor/src/precompiled/extension/RingSigPrecompiled.cpp
  bcos-executor/test/unittest/libprecompiled/ConfigPrecompiledTest.cpp
  bcos-executor/test/unittest/libprecompiled/GroupSigPrecompiledTest.cpp
  bcos-executor/test/unittest/libprecompiled/RingSigPrecompiledTest.cpp
  bcos-protocol/bcos-protocol/testutils/protocol/FakeTransaction.h
  cmake/ProjectGroupSig.cmake
  cmake/config.cmake
Labels: compile, m1, group/ring sign, 3.0.0-rc4

#2538 fix coredump when campaign leader failed
  bcos-pbft/bcos-pbft/pbft/cache/PBFTCacheProcessor.cpp
  bcos-pbft/bcos-pbft/pbft/cache/PBFTCacheProcessor.h
  bcos-pbft/bcos-pbft/pbft/engine/PBFTEngine.cpp
  bcos-sync/bcos-sync/state/DownloadingQueue.cpp
  libinitializer/PBFTInitializer.cpp
Labels: coredump, 3.0.0-rc4, block-sync

#2541 fix coredump caused by empty transactionHash data
  bcos-framework/testutils/faker/FakeLedger.h
  bcos-protocol/bcos-protocol/testutils/protocol/FakeBlockHeader.h
  bcos-tars-protocol/protocol/ExecutionMessageImpl.h
  bcos-tars-protocol/test/ProtocolTest.cpp
  libinitializer/ParallelExecutor.h
Labels: coredump, 3.0.0-rc4

#2549 support encode certificate with keyCenter
  fisco-bcos-tars-service/GatewayService/GatewayInitializer.cpp
  fisco-bcos-tars-service/RpcService/RpcInitializer.cpp
  libinitializer/Common.h
  libinitializer/ProtocolInitializer.cpp
  tools/BcosBuilder/max/conf/config-deploy-example.toml
  tools/BcosBuilder/max/conf/config-node-expand-example.toml
  tools/BcosBuilder/max/conf/config-service-expand-example.toml
  tools/BcosBuilder/pro/conf/config-deploy-example.toml
  tools/BcosBuilder/pro/conf/config-service-expand-example.toml
  tools/BcosBuilder/src/config/chain_config.py
  tools/BcosBuilder/src/config/max_node_config_generator.py
  tools/BcosBuilder/src/config/node_config_generator.py
  tools/BcosBuilder/src/config/service_config_generator.py
  tools/BcosBuilder/src/service/key_center_service.py
Labels: fisco-bcos-pro, 3.0.0-rc4, storage-security

#2559 fix BcosBuilder
  bcos-gateway/bcos-gateway/GatewayConfig.cpp
  bcos-gateway/test/unittests/GatewayConfigTest.cpp
  tools/BcosBuilder/src/config/node_config_generator.py
Labels: build-chain, coredump, 3.0.0-rc4
